pytest==7.1.2
pytest-cov==3.0.0
pytest-pudb==0.7.0
pytest-testdox==3.0.1
flake8==5.0.4
coverage==6.4.4
tox==3.26.0
tox-docker==3.1.0
psycopg2-binary==2.9.3
mkdocs==1.4.2
mkdocs-material
mkdocs-material-extensions
